# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Environments
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Models / data
*.pt
*.h5
*.pkl
*.bin
*.ckpt
*.jsonl
*.db
data/
models/
uploads/

# HuggingFace cache
~/.cache/huggingface/

# venv
rag_resume/